<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASiyHscPoFqpfVaIRFrRgMlT7by0vXOzE</string>
	<key>GCM_SENDER_ID</key>
	<string>1025967667396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.advFlutterTest</string>
	<key>PROJECT_ID</key>
	<string>adv-test-266aa</string>
	<key>STORAGE_BUCKET</key>
	<string>adv-test-266aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025967667396:ios:76e0b63c0cde5c90f13191</string>
</dict>
</plist>